<%- include("../partials/head") %>

<body class="fourBody">


    <div class="four">
        <h1>404</h1>
    </div>

    <div class="lost">
        <h2>We all get lost sometimes.</h2>
        <a href="/">Take Me To Mom</a>
    </div>



</body>