<%- include("../partials/head") %>

<body>
    <%- include("../partials/header") %>
    <div class='main'>
        <h2>Questions</h2>
        <div>

            <div class="btnDiv">
                <a class="qBtn" href='/question1'>Question 1</a>

                <a class="qBtn" href='/question2'>Question 2</a>

                <a class="qBtn" href='/question3'>Question 3</a>

                <a class="qBtn" href='/question4'>Question 4</a>
                <a class="qBtn" href='/question5'>Question 5</a>
                <a class="qBtn" href='/question6'>Question 6</a>
                <a class="qBtn" href='/question7'>Question 7</a>
                <a class="qBtn" href='/question8'>Question 8</a>
                <a class="qBtn" href='/question9'>Question 9</a>
                <a class="qBtn" href='/question10'>Question 10</a>
            </div>



        </div>
    </div>
</body>